<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Para mas informacion sobre el desarrollo de esta aplicacion contactenos: Camilo@hotmail.com  sergio@hotmail.com</h4>
        </div>
      </div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Esta aplicacion fue desarrollada por AgileSolutions</p>
		</div>
	</div>


  </div>
  </div>
</footer>
