<mat-dialog-content>
  <h1>Seleccione al propietario</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Assignee</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="huehuBOYS">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.inmueble}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
  <button mat-raised-button color="primary" (click)="savePoder1()">Asociar</button>
  <button mat-raised-button color="accent" (click)="setselfPoder()">Autorepresentacion</button>
</mat-dialog-content>
