<h1 mat-dialog-title>Crear Pregunta Abierta</h1>
<div mat-dialog-content style="margin-bottom: 1em;">
  <form [formGroup]="questionForm" (ngSubmit)="crearPregunta()">
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance="outline" style="width:100%">
          <mat-label>Timer (segundos)</mat-label>
          <input matInput type="number" formControlName="timer">
        </mat-form-field>
      </div>
    </div>
    <div class="row-container">

      <mat-form-field class="example-full-width" style="width:100%">
        <mat-label>Ingrese aquí la pregunta</mat-label>
        <textarea matInput placeholder="Enunciado" formControlName="enunciado"></textarea>
      </mat-form-field>
    </div>
    <div class="form-actions">
      <button id="cancel-button" class="mat-stroked-button" type="button" (click)="cancel()">
        Cancelar
      </button>
      <button class="mat-flat-button mat-primary" type="submit">Guardar</button>
    </div>
  </form>
</div>

