<mat-dialog-content>
  <h1>Quorum registrado a las: {{titulo}} </h1>

<div style="display: block;">
  <canvas baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
    [legend]="pieChartLegend">

  </canvas>
</div>
<br>
        <mat-divider [inset]="false"></mat-divider>
<br>
<div #TABLE>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> HORA </th>
    <td mat-cell *matCellDef="let element"> {{element.date_time}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="coeficientepresente">
    <th mat-header-cell *matHeaderCellDef> COEFICIENTE PRESENTE </th>
    <td mat-cell *matCellDef="let element"> {{element.coeficiente}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="coeficienteausente">
    <th mat-header-cell *matHeaderCellDef> COEFICIENTE AUSENTE</th>
    <td mat-cell *matCellDef="let element"> {{element.coeficienteAusente}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="inmueblespresentes">
    <th mat-header-cell *matHeaderCellDef> INMUEBLES PRESENTE </th>
    <td mat-cell *matCellDef="let element"> {{element.votos}} </td>
  </ng-container>

    <ng-container matColumnDef="inmueblesausentes">
    <th mat-header-cell *matHeaderCellDef> INMUEBLES AUSENTE </th>
    <td mat-cell *matCellDef="let element"> {{element.ausentes}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row   (click)="updateTable(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
  <br>
  <button mat-raised-button color="primary" (click)="exportAsExcel()">Exportar a Excel</button>
</mat-dialog-content>
