<app-banner></app-banner>
<form [formGroup]="registerForm">
  <div class="card text-center m-3">
    <div class="card-body">
      <input type="file" (change)="onChange($event)" class="fadeIn third" name="login" placeholder="video File">
      <button mat-raised-button color="primary" (click)="subirExcel()">subir excel con asambleistas</button>

    </div>
  </div>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="inmueble">
    <th mat-header-cell *matHeaderCellDef> UNIDAD</th>
    <td mat-cell *matCellDef="let element"> {{element.inmueble}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef> NOMBRE</th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef> DOCUMENTO</th>
    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> EMAIL</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="celular">
    <th mat-header-cell *matHeaderCellDef> CELULAR</th>
    <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
  </ng-container>

  <ng-container matColumnDef="coeficiente">
    <th mat-header-cell *matHeaderCellDef> COEFICIENTE </th>
    <td mat-cell *matCellDef="let element"> {{element.coeficiente}} </td>
  </ng-container>

  <ng-container matColumnDef="mora">
    <th mat-header-cell *matHeaderCellDef> ESTADO CARTERA</th>
    <td mat-cell *matCellDef="let element"> {{element.mora}} </td>
  </ng-container>



  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="createAsambleista()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="sendEmail(element.id)">
        <mat-icon aria-label="email">email</mat-icon>
      </button>
      <button mat-icon-button color="accent"
              (click)="editAsambleista(element)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
     <button mat-icon-button color="accent" (click)="deleteAsambleista(element.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
