<app-banner></app-banner>
<div style="margin-top: 30px;text-align: center"> <button (click)="getCoeficienteXrespuesta()" class="mat-flat-button mat-primary"  style="margin-right: 10px; background-color: #1c8adb">Respuestas de Selección</button>
 <button class="mat-flat-button mat-primary" style="margin-right: 10px;background-color: #665fee" (click)="getAnswersByAsambleista()">Respuestas Abiertas</button>
 <button class="mat-flat-button mat-primary"(click)="getAnswersDecimalByAsambleista()">Respuestas Numéricas Decimales</button></div>

<div class="row justify-content-center row-container">
  <div class="col-12">
    <div class="row row-title">
      <div class="col-8 col-md-10">{{nomEvent}}</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" style="padding-top: 15px">
        <mat-form-field>
          <mat-label>Tipo de pregunta</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="1">Pregunta Abierta</mat-option>
            <mat-option value="2">Pregunta Numérica Decimal</mat-option>
            <mat-option value="4">Pregunta de Selección</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn-create" mat-button (click)="openPregunta(selected)" style="margin-left: 10px">Crear
          Pregunta
        </button>
        <button class="btn-create" style="float: right;margin-left: 20px;" (click)="gotoVerQuoro()">Ver Quórum</button>
        <button class="btn-create" style="float: right;" (click)="guardarQoro()">Guardar Quórum</button>
        <mat-slide-toggle (click)="changeQuorumStatus()" [(ngModel)]="isChecked" style="float: right;padding-right: 20px;">Abrir Quórum
        </mat-slide-toggle>

      </div>
    </div>
  </div>

  <mat-card class="col-11 style-card" *ngFor="let contenidoInt of pMultiple ">
    <mat-card-header class="header-card">
      <mat-card-title>Pregunta de Selección</mat-card-title>


    </mat-card-header>

    <div class="row">
      <div class="col-12 col-md-6">
        <mat-card-content>
          <br>
          <p class="title">Enunciado</p>
          <br>

          <p class="detail-text">{{contenidoInt.enunciado}}</p>
          <mat-slide-toggle (click)="bloqueaMora(contenidoInt.id,contenidoInt.bloquea_mora)" [checked]="contenidoInt.bloquea_mora">Bloqueo de Morosos</mat-slide-toggle>
        </mat-card-content>
      </div>
      <div class="col-12 col-md-6">
        <mat-card-actions class="text-center">
             <button class="btn-generic btn-create" mat-button (click)="abrirTimerModal(contenidoInt)">Ver Timer
          </button>

          <button class="btn-generic btn-blue" mat-button (click)="editarPreguntaMultiple(contenidoInt)">Editar</button>
          <button class="btn-generic btn-green" mat-button *ngIf="contenidoInt.activa==false"
                  (click)="changeActivarMultiple(contenidoInt)">Activar
          </button>
          <button class="mat-flat-button mat-accent" *ngIf="contenidoInt.activa==true"
                  (click)="changeActivarMultiple(contenidoInt)">Desactivar
          </button>

          <button class="btn-generic btn-blue" mat-button (click)="gotoResultados(contenidoInt)" style="background-color: coral">Resultados</button>

          <button class="btn-generic btn-water" mat-button (click)="restablecerMultiple(contenidoInt.id)">Restablecer
          </button>
          <button class="btn-generic btn-red" mat-button (click)="borrarPreguntaMultiple(contenidoInt.id)">Borrar
          </button>


        </mat-card-actions>
      </div>
    </div>
  </mat-card>

  <mat-card class="col-11 style-card" *ngFor="let contenidoInt of pAbiertaDec">
    <mat-card-header class="header-card">
      <mat-card-title>Pregunta Numérica Decimal</mat-card-title>
    </mat-card-header>
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-card-content>
          <br>
          <p class="title">Enunciado</p>
          <br>

          <p class="detail-text">{{contenidoInt.enunciado}}</p>


        </mat-card-content>
      </div>
      <div class="col-12 col-md-6">
        <mat-card-actions class="text-center">
              <button class="btn-generic btn-create" mat-button (click)="abrirTimerModal(contenidoInt)">Ver Timer
          </button>

          <button class="btn-generic btn-blue" (click)="editarPreguntaAbiertaDecimal(contenidoInt)" mat-button>Editar
          </button>
          <button class="btn-generic btn-green" mat-button *ngIf="contenidoInt.activa==false"
                  (click)="changeActivarDecimal(contenidoInt)">Activar
          </button>
          <button class="mat-flat-button mat-accent" *ngIf="contenidoInt.activa==true"
                  (click)="changeActivarDecimal(contenidoInt)">Desactivar
          </button>

          <button class="btn-generic btn-blue" mat-button (click)="gotoResultadosDecimal(contenidoInt)" style="background-color: coral">Resultados</button>

          <button class="btn-generic btn-water" mat-button (click)="restablecerDecimal(contenidoInt.id)">Restablecer
          </button>
          <button class="btn-generic btn-red" mat-button (click)="borrarPreguntaDecimal(contenidoInt.id)">Borrar
          </button>

        </mat-card-actions>
      </div>
    </div>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card class="col-11 style-card" *ngFor="let contenidoInt of pAbierta">
    <mat-card-header class="header-card">
      <mat-card-title>Pregunta Abierta</mat-card-title>
    </mat-card-header>
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-card-content>
          <br>
          <p class="title">Enunciado</p>
          <br>

          <p class="detail-text">{{contenidoInt.enunciado}}</p>

        </mat-card-content>
      </div>
      <div class="col-12 col-md-6">
        <mat-card-actions class="text-center">
              <button class="btn-generic btn-create" mat-button (click)="abrirTimerModal(contenidoInt)">Ver Timer
          </button>

          <button class="btn-generic btn-blue" (click)="editarPreguntaAbierta(contenidoInt.id,contenidoInt.enunciado,
          contenidoInt.timer)" mat-button>Editar
          </button>
          <button class="btn-generic btn-green" mat-button *ngIf="contenidoInt.activa==false"
                  (click)="changeActivarAbierta(contenidoInt)">Activar
          </button>
          <button class="mat-flat-button mat-accent" *ngIf="contenidoInt.activa==true"
                  (click)="changeActivarAbierta(contenidoInt)">Desactivar
          </button>

          <button class="btn-generic btn-water" mat-button (click)="restablecerAbierto(contenidoInt.id)">Restablecer
          </button>
          <button class="btn-generic btn-red" mat-button (click)="borrarPreguntaAbierta(contenidoInt.id)">Borrar
          </button>

        </mat-card-actions>
      </div>
    </div>
  </mat-card>


</div>

