<div class="wrapper fadeInDown pb_gradient_v1 " >
<div class="row align-items-center justify-content-center">
<div class="col-md-6">
<h1 class="heading mb-2">eOpinion | opiniones que cuentan</h1><br>
  <h3 class="heading mb-2">Plataforma de votación virtual</h3><br>
  <h3 class="heading mb-2">Tel: +571 371 9754</h3><br>
  <h3 class="heading mb-2">Móvil: 310 628 5302</h3><br>

<div class="sub-heading">
  <p class="mb-4">Derechos Reservados ©2020 eOpinion</p>
</div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-5 relative align-self-center">
<div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Iniciar Sesion </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://i.ibb.co/jWZM82h/Logo-e-Opinion-PNG.png" id="icon" alt="User Icon"/>
    </div>



    <!-- Login Form -->
    <form [formGroup]="registerForm">
      <input input type="email" id="login" class="fadeIn second" name="login" placeholder="Usuario" formControlName="username">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña" formControlName="password">
      <br>
      <br>
      <input type="submit" class="fadeIn fourth" value="Acceder" (click)="login()">
    </form>
    <!-- Remind Passowrd -->
  </div>
</div>

</div>
  </div>
