<h1 mat-dialog-title>Crear pregunta selección múltiple</h1>
<div mat-dialog-content style="margin-bottom: 1em;">
  <form [formGroup]="questionForm">
    <div class="row-container">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Ingrese aquí la pregunta</mat-label>
        <input type="text" matInput placeholder="Enunciado" formControlName="enunciado"/>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <mat-checkbox color="primary" formControlName="puntajeCoeficiente">Votacion por coeficientes?</mat-checkbox>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" style="width:50%">
          <mat-label>Timer</mat-label>
          <input matInput type="number" formControlName="timer">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-checkbox color="primary" formControlName="strictMax">Respuestas exactas</mat-checkbox>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" style="height:40px; padding-left: 15px">
          <mat-label>Numero de respuestas</mat-label>
          <input type="number" min="1" matInput formControlName="respuestasPermitidas"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Presentacion de pregunta</mat-label>
          <mat-select [(value)]="displayType">
            <mat-option value="1">Lista</mat-option>
            <mat-option value="2">Cuadricula</mat-option>
            <mat-option value="3">Desplegable</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="padding-bottom: 15px;padding-left: 20px">
      <button class="mat-flat-button mat-primary" (click)="agregarOpcion()" style="float: right;">Agregar opción
      </button>
    </div>

    <div class="row-container" formArrayName="opciones"
         *ngFor="let opcion of questionForm.controls.opciones['controls']; let i = index">
      <ng-container formGroupName="{{i}}">
        <mat-form-field appearance="outline" style="width:70%">
          <mat-label>Opción</mat-label>
          <input type="text" matInput placeholder="Opción" formControlName="opcion"/>
        </mat-form-field>
        <button class="removeQ" mat-stroked-button color="warn" (click)="quitarOpcion(i)">
          <mat-icon>delete_outline
          </mat-icon>
        </button>
      </ng-container>
    </div>
    <div class="form-actions">
      <button id="cancel-button" class="mat-stroked-button" type="button">
        Cancelar
      </button>
      <button class="mat-flat-button mat-primary" type="submit" (click)="crearPregunta()">Guardar</button>
    </div>
  </form>
</div>
