<mat-dialog-content>
<mat-toolbar color="primary">
  <span class="fill-remaining-space">Crear asambleista</span>
</mat-toolbar>
<br>

<form [formGroup]="formGroup" novalidate>

  <mat-form-field class="form-element">
    <input matInput placeholder="Nombre de usuario" formControlName="username" style="width: 100%">
    <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input matInput placeholder="Correo electrónico" formControlName="email" style="width: 100%">
    <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
      {{ getErrorEmail() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input matInput placeholder="Inmueble" formControlName="inmueble">
    <mat-error *ngIf="!formGroup.controls['inmueble'].valid && formGroup.controls['inmueble'].touched">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input type="number" matInput placeholder="Número de documento de identidad" formControlName="documento">
    <mat-error *ngIf="!formGroup.controls['documento'].valid && formGroup.controls['documento'].touched">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input matInput placeholder="Nombre" formControlName="nombre_completo">
    <mat-error *ngIf="!formGroup.controls['nombre_completo'].valid && formGroup.controls['nombre_completo'].touched">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input type="number" matInput placeholder="Celular" formControlName="celular">
    <mat-error *ngIf="!formGroup.controls['celular'].valid && formGroup.controls['celular'].touched">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input type="number" matInput placeholder="Coeficiente" formControlName="coeficiente">
    <mat-error *ngIf="!formGroup.controls['coeficiente'].valid && formGroup.controls['coeficiente'].touched">
      Campo requerido
    </mat-error>
  </mat-form-field>


  <mat-form-field class="form-element">
    <input matInput placeholder="Contraseña" formControlName="password">
    <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
    <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
      {{ getErrorPassword() }}
    </mat-error>
  </mat-form-field>


  <div class="form-element">
    <mat-checkbox formControlName="mora" value="1">Usuario en mora?</mat-checkbox>
  </div>

  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid"
            (click)="createAsambleista()">Enviar formulario
    </button>
  </div>


</form>
</mat-dialog-content>
