<app-banner></app-banner>
<div class="row justify-content-center row-container">
    <div class="col-12">
        <div class="row row-title">
            <div class="col-8 col-md-10">Total eventos existentes 5</div>
            <div class="col-4 col-md-2">
                <button mat-button class="btn-create">Crear concurso</button>
            </div>

        </div>
    </div>

  <mat-card class="col-11 style-card">
   <mat-card-header class="header-card">
            <mat-card-title>Nombre evento</mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-card-content>
                  <br>
                    <p class="title">Fecha Inicio</p>
                    <br>

                    <p class="detail-text">12/02/02</p>
                </mat-card-content>
            </div>
            <div class="col-12 col-md-6">
                <mat-card-actions class="text-center">
                  <button mat-button class="btn-generic btn-green">Asambleistas</button>
                  <button mat-button class="btn-generic btn-water">Ir</button>
                  <button mat-button class="btn-generic btn-blue">Editar</button>
                  <button mat-button class="btn-generic btn-red">Borrar</button>

                </mat-card-actions>
            </div>
        </div>
  </mat-card>

</div>
