<h1 mat-dialog-title>{{enunciado}}</h1>
<h3 *ngIf="countDown>0">Esta pregunta se vencerá en <countdown [config]="{leftTime: countDown}" ></countdown></h3>
<h3 *ngIf="countDown<=0">Esta pregunta se ha vencido.</h3>


<div mat-dialog-content style="margin-bottom: 1em;">

  <form [formGroup]="questionForm" (ngSubmit)="enviarRespuesta()">
    <div class="row-container">

      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Ingrese su respuesta aqui</mat-label>
        <textarea matInput placeholder="Enunciado" formControlName="enunciado"></textarea>

      </mat-form-field>
    </div>
    <div class="form-actions">

      <button class="mat-flat-button mat-primary" type="submit" [disabled]="!questionForm.valid">Enviar</button>
    </div>
  </form>

</div>
